:root {
  --white: #E6E6E6;
  --black: #0D0D0D;
  --gray-100: #D7D7D7;
  --gray-300: #A9A9A9;
  --gray-700: #3E3E40;
  --blue-100: #22B7F2;
  --blue-300: #22A2F2;
  --blue-500: #2793F2;
  --blue-700: #147CA5;
  
  --font-pt-serif: 'PT Serif', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color:var(--white);
  font-family: 'Montserrat', sans-serif;
}